.header {
  background-color: #222222;
  color: #fff;
  padding: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLink {
  color: #fff;
  text-decoration: none;
}